DB_HOST=127.0.0.1
DB_NAME=database_name
DB_USER=database_user
DB_PASS=
DB_CHARSET=utf8

APP_TIMEZONE=America/Bahia
APP_LOCALE=pt_BR.utf-8

MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=no-reply@example.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME="Reservas Online - Cassi Turismo"
MAIL_REPLY_TO=contato@example.com
MAIL_CC=contato@example.com
